@media (min-width: 44em) {
	main {
		margin: 0 auto;
		max-width: 44em;
	}

	#hamburger {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.images {
		display: flex;
		flex-wrap: wrap;
	}

	.splash {
		width: 44em;
	}

	.buttons {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.frame {
		max-width: 44em;
		min-width: 44em;
	}
}