@media (min-width: 37.5em) {
    header p {
        text-align: left;
        font-size: 2rem;
        margin-left: 1rem;
    }
	
	h1 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
    .images {
        display: flex;
        flex-wrap: wrap;
    }
}
